<div class="card my-5" style="margin: 5px;">
  <div class="card-body">
    <h2>{{isUpdate ? "Update" : "Create"}} Contract</h2>
    <form [formGroup]="contractForm" style="margin-left: 5px;">
      <div class="row">
        <div class="form-group col">
          <label for="hotelId">Hotel</label>
          <select class="custom-select mb-3" formControlName="hotelId" required>
            <option value="" disabled>Choose Hotel</option>
            <option *ngFor="let hotel of hotels" [ngValue]="hotel.id">
              {{ hotel.name }} - {{hotel.location}}
            </option>
          </select>
          <div *ngIf="contractForm.get('hotelId').invalid && (contractForm.get('hotelId').dirty || 
              contractForm.get('hotelId').touched)" class="alert alert-danger">
            Please select a hotel from the dropdown
          </div>
        </div>
        <div class="col " style="margin-top: 29px;">
          <button class="btn btn-primary float-right " (click)="openDialog()">Create a New
            Hotel</button>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="markup">Markup (%)</label>
          <input type="number" formControlName="markup" class="form-control" id="markup" name="markup"
            placeholder="Enter markup" required min="0">
          <div *ngIf="contractForm.get('markup').invalid && (contractForm.get('markup').dirty || 
              contractForm.get('markup').touched)" class="alert alert-danger">
            Please enter a valid markup
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="startDate">Start Date</label>
          <input type="date" formControlName="startDate" class="form-control" id="startDate" name="startDate" required
          [min]="now" (input)="changeEndDateMin($event)">
          <div *ngIf="contractForm.get('startDate').invalid && (contractForm.get('startDate').dirty || 
              contractForm.get('startDate').touched)" class="alert alert-danger">
            Please provide a valid start date.
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="endDate">End Date</label>
          <input type="date" formControlName="endDate" class="form-control" id="endDate" name="endDate" 
          [readOnly]="contractForm.get('startDate').value === ''" [min]="endDateMIn" required>
          <div *ngIf="contractForm.get('endDate').invalid && (contractForm.get('endDate').dirty || 
              contractForm.get('endDate').touched)" class="alert alert-danger">
              <div *ngIf="contractForm.get('startDate').value === ''; else validEndDate">
                Please enter a contract start date first
              </div>
              <ng-template #validEndDate>
                Please provide a valid end date.
              </ng-template>
          </div>
        </div>
      </div>
      <div class="row">
        <div formArrayName="roomTypes" class="col-md-12">
          <div>
          </div>
          <h4>Add room types</h4>

          <form #addRommType="ngForm" (ngSubmit)="onAdd(addRommType)" class="form-horizontal row">
            <div class="col">
              <label>Type</label>
              <input type="text" class="form-control" id="type" name="type" placeholder="Enter Type" required ngModel>
            </div>
            <div class="col">
              <label>Capacity</label>
              <input type="text" class="form-control" id="capacity" name="capacity" placeholder="Enter Capacity"
                required ngModel min="1">
            </div>
            <div class="col">
              <label>Price</label>
              <input type="number" class="form-control" id="price" name="price" placeholder="Enter Price" required
                ngModel min="0">
            </div>
            <div class="col">
              <label>Room Count</label>
              <input type="number" class="form-control" id="roomCount" name="roomCount" placeholder="Enter Type"
                required ngModel min="1">
            </div>
            <div class="col-sm-2" style="margin-top: 29px;">
              <button class="btn btn-primary mb-2 mt-6" type="submit" [disabled]="addRommType.invalid">Add Room
                Type</button>
            </div>
          </form>

          <table class="table table-striped mt-4 w-100">
            <thead>
              <tr>
                <th>Room Type</th>
                <th>Capacity</th>
                <th>Price</th>
                <th>Room Count</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr class="form-group" *ngFor="let type of roomTypeList; let i = index;">
                <td *ngIf="type.status != 'DELETED'">{{type.type}}</td>
                <td *ngIf="type.status != 'DELETED'">{{type.capacity}}</td>
                <td *ngIf="type.status != 'DELETED'">{{type.price}}</td>
                <td *ngIf="type.status != 'DELETED'">{{type.roomCount}}</td>
                <td *ngIf="type.status != 'DELETED'">
                  <button class="btn btn-secondary" type="button" (click)="deleteContract(i, type)">Delete</button>
                </td>
                <div class="alert alert-danger" *ngIf="type.invalid 
                              && type.touched">
                  Please enter value
                </div>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <br>
      <button type="submit" [disabled]="!contractForm.valid || roomTypeList.length <= 0" class="btn btn-info float-right"
        (click)="onSubmit()">{{isUpdate ? "Update" : "Create"}} Contract</button>
    </form>
  </div>

</div>