
<div class="card my-5">
    <div class="card-body">
      <form [formGroup]="hotelForm">
        <div class="row">
        <div class="form-group col-md-6">
          <label for="markup">Name</label>
          <input type="text" formControlName="name"
            class="form-control" 
            id="name" 
            name="name" 
            placeholder="Enter a hotel name"
            required>
            <div *ngIf="hotelForm.get('name').invalid && submitted" class="alert alert-danger">
                Please enter a hotel Name
              </div>
        </div>
        <div class="form-group col-md-6">
          <label for="markup">Location</label>
          <input type="text" formControlName="location"
            class="form-control" 
            id="location" 
            name="location" 
            placeholder="Enter location details"
            required>
            <div *ngIf="hotelForm.get('location').invalid && submitted" class="alert alert-danger">
                Please enter a location
              </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="markup">Hotel Contact Number</label>
            <input type="text" formControlName="contactNumber"
              class="form-control" 
              id="contactNumber" 
              name="contactNumber" 
              placeholder="Enter location details"
              required>
              <div *ngIf="hotelForm.get('contactNumber').invalid && submitted" class="alert alert-danger">
                  Please enter a location
                </div>
          </div>
          <div class="form-group col-md-6">
            <label for="markup">Contact Person Name</label>
            <input type="text" formControlName="contactName"
              class="form-control" 
              id="contactName" 
              name="contactName" 
              placeholder="Enter location details"
              required>
              <div *ngIf="hotelForm.get('contactName').invalid && submitted" class="alert alert-danger">
                  Please enter a location
                </div>
          </div>
        </div>
        <div class="alert alert-success" role="alert" *ngIf="submit">
            This is a success alert—check it out!
          </div>
        <button type="submit"  [disabled]="!hotelForm.valid" *ngIf="!submit"
          class="btn btn-info" (click)="onSubmit()">Create Hotel</button>
          <button class="btn btn-secondary" (click)="closeDialog()">Close</button>
      </form>
    </div>
  </div>
