  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-dark my-5">
          <div class="card-body">
            <h2 class="card-title text-center text-white py-3">Sun Travellers</h2>
            <ul class="text-center list-inline py-3">
              <li class="list-inline-item">
                <a routerLink="/" class="btn btn-info">List Contracts</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/create" class="btn btn-info">Add Contract</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/search-reservations" class="btn btn-info">Search for Reservations</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/cancel-reservations" class="btn btn-info">Cancel Reservations</a>
              </li>
            </ul>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
